a{
    color: rgb(32, 120, 120);
}

*{
    background-color: rgb(201, 207, 137);
}

.Profile-pic{
    width: 150px;
    height: 150px;
    border: 4px solid rgb(10, 10, 15);  
}

.highlight{
    color: rgb(38, 27, 165);
    font-weight: bold;
    background-color: rgb(245, 245, 241);
}

.summary{
    color: rgb(68, 110, 164);
    background-color: rgb(199, 195, 168);
}

.EDUCATION-text{
    color: blueviolet;
    font-weight: bold;
    background-color: rgb(199, 195, 168);
}

.Work-text{
    color: rgb(217, 55, 90);
    font-weight: bolder;
    background-color: rgb(199, 195, 168);
}

.Company{
    font-style: italic;
}

.Responsibilities{
    color: rgb(29, 184, 115);
    background-color: rgb(199, 195, 168);    
}

.skills{
    color: rgb(41, 114, 179);
    background-color: rgb(199, 195, 168);    
}

.tools{
    font-style: italic;
    background-color: rgb(199, 195, 168);
}

.softskills{
    font-style: italic;
    background-color: rgb(199, 195, 168);
}

.certification{
    color: rgb(12, 157, 135);
    background-color: rgb(199, 195, 168);    
}

.favourite-places{
    color: rgb(182, 107, 16);
    background-color: rgb(199, 195, 168); 
}

.places {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.place-card {
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.place-card img {
  width: 220px;
  height: 130px;
  display: block;
  margin-top: 1px;
}

.caption {
  color: black;
  margin-top: 8px;
  font-size: 16px;
}
